@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');


.button{
    -fx-effect: dropshadow(three-pass-box,rgb(157,49,49),10,0,0,0);
    -fx-font-family: 'Open Sans', sans-serif;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-background-color: lightcoral;
    -fx-text-fill: floralwhite;
}

.button:hover
{
    -fx-background-color: linear-gradient(to bottom,#9d3131,indianred,lightcoral);
    -fx-text-fill: #520707;
    -fx-font-weight: bold;
    -fx-font-size: 22px;
    -fx-effect: dropshadow(three-pass-box,rgb(157,49,49),10,0,0,0);
}

#Register_button
{
    -fx-font-size: 200%;
}

#Register_button:hover
{
    -fx-background-color: linear-gradient(to bottom,#9d3131,indianred,lightcoral);
    -fx-text-fill: #520707;
    -fx-font-weight: bold;
    -fx-font-size: 250%;
    -fx-effect: dropshadow(three-pass-box,rgb(157,49,49),10,0,0,0);
}

.table-column {
    -fx-alignment: CENTER;
}

.label
{
    -fx-font-family: 'Open Sans', sans-serif;
    -fx-font-size: 16px;
}

/*#author1,#author2,#author3
{
    -fx-font-family: Cambria;
    -fx-font-weight: bold;
    -fx-font-size: 22px;
}

#author3
{
    -fx-font-size: 16px;
}*/

#title_label
{
    -fx-font-family: 'Open Sans', sans-serif;
    -fx-font-size: 60px;
    -fx-text-fill: #9d3131;

}

#als_1
{
    -fx-font-family: 'Open Sans', sans-serif;
    -fx-font-size: 65px;
    -fx-text-fill: #9d3131;
}

#als_2
{
    -fx-font-family: 'Open Sans', sans-serif;
    -fx-font-size: 65px;
    -fx-text-fill: #9d3131;
}
#pToCont
{
    -fx-font-family: 'Open Sans', sans-serif;
    -fx-font-size: 23px;
}

#pToCont:hover
{
    -fx-font-size: 24px;
}

#title_addDonationInfo
{
    -fx-font-size: 50px;
}

#panelButton
{
    -fx-font-size: 35px;
}

#panelButton:hover
{
    -fx-font-size: 36px;
}
.choice-box
{
    -fx-effect: innershadow(three-pass-box,rgb(157, 49, 49),5,0,0,0);
}

.text-field
{
    -fx-effect: innershadow(three-pass-box,rgb(157, 49, 49),5,0,0,0);
}

.text-area
{
    -fx-effect: innershadow(three-pass-box,rgb(157, 49, 49),5,0,0,0);
}

.password-field
{
    -fx-effect: innershadow(three-pass-box,rgb(157, 49, 49),5,0,0,0);
}