@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');


.button{
    -fx-effect: dropshadow(three-pass-box,rgb(157,49,49),10,0,0,0);
    -fx-font-family: 'Open Sans', sans-serif;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-background-color: lightcoral;
    -fx-text-fill: floralwhite;
}

.button:hover
{
    -fx-background-color: linear-gradient(to bottom,#9d3131,indianred,lightcoral);
    -fx-text-fill: #520707;
    -fx-font-weight: bold;
    -fx-font-size: 19px;
    -fx-effect: dropshadow(three-pass-box,rgb(157,49,49),10,0,0,0);
}

.label
{
    -fx-font-family: 'Open Sans', sans-serif;
    -fx-font-size: 16px;
}

#title_label
{
    -fx-font-family: 'Open Sans', sans-serif;
    -fx-font-size: 60px;
    -fx-text-fill: #9d3131;

}

#als_1
{
    -fx-font-family: 'Open Sans', sans-serif;
    -fx-font-size: 65px;
    -fx-text-fill: #9d3131;
}

#als_2
{
    -fx-font-family: 'Open Sans', sans-serif;
    -fx-font-size: 65px;
    -fx-text-fill: #9d3131;
}
#pToCont
{
    -fx-font-family: 'Open Sans', sans-serif;
    -fx-font-size: 23px;
}

#pToCont:hover
{
    -fx-font-size: 24px;
}

#title_addDonationInfo
{
    -fx-font-size: 50px;
}

#panelButton
{
    -fx-font-size: 35px;
}

#panelButton:hover
{
    -fx-font-size: 36px;
}