@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');


.button{
    -fx-effect: dropshadow(three-pass-box,rgb(157,49,49),10,0,0,0);
    -fx-font-family: 'Open Sans', sans-serif;
    -fx-font-weight: bold;
    -fx-background-color: lightcoral;
    -fx-text-fill: floralwhite;
    -fx-background-radius: 12px;
    -fx-text-alignment: center;
    /*-fx-font-size: 110%;*/
}

.button:hover
{
    -fx-background-color: linear-gradient(to bottom,#9d3131,indianred,lightcoral);
    -fx-text-fill: #520707;
    -fx-font-weight: bold;
    /*-fx-font-size: 22px;*/
    -fx-font-size: 135%;
    -fx-effect: dropshadow(three-pass-box,rgb(157,49,49),10,0,0,0);
    -fx-text-alignment: center;
    -fx-background-radius: 12px;
    -fx-cursor: hand;
}
#submit:hover
{
    -fx-font-size: 150%;
}

#Register_button
{
    -fx-background-radius: 15px;
}

#Register_button:hover
{
    -fx-background-color: linear-gradient(to bottom,#9d3131,indianred,lightcoral);
    -fx-text-fill: #520707;
    -fx-font-weight: bold;
    -fx-font-size: 230%;
    -fx-effect: dropshadow(three-pass-box,rgb(157,49,49),10,0,0,0);
}

.choice-box
{
    -fx-pref-height: 5;
    -fx-background-color: lightcoral;
    -fx-effect: dropshadow(three-pass-box,rgb(157,49,49),10,0,0,0);
    -fx-background-radius: 8px;
    -fx-prompt-text-fill: floralwhite;
    -fx-cursor: hand;
}

.choice-box:hover
{
    -fx-pref-height: 5;
    -fx-background-color: linear-gradient(to bottom,#9d3131,indianred,lightcoral);
    -fx-background-radius: 8px;
    -fx-text-fill: #9d3131;
    -fx-cursor: hand;
}

.choice-box.context-menu
{
    -fx-background-color: floralwhite;
    -fx-text-fill: black;
    -fx-font-family: 'Open Sans', sans-serif;
    -fx-font-size: 12px;
}

#change_password_title_label
{
    -fx-font-family: 'Open Sans', sans-serif;
    -fx-font-size: 50px;
    -fx-text-fill: #9d3131;
}

.table-column {
    -fx-alignment: CENTER;
}

.label
{
    -fx-font-family: 'Open Sans', sans-serif;
    -fx-font-size: 15px;
}

#title_label
{
    -fx-font-family: 'Open Sans', sans-serif;
    -fx-font-size: 50px;
    -fx-text-fill: #9d3131;

}

#als_1
{
    -fx-font-family: 'Open Sans', sans-serif;
    -fx-font-size: 65px;
    -fx-text-fill: #9d3131;
}

#als_2
{
    -fx-font-family: 'Open Sans', sans-serif;
    -fx-font-size: 65px;
    -fx-text-fill: #9d3131;
}
#pToCont
{
    -fx-font-family: 'Open Sans', sans-serif;
    -fx-font-size: 23px;
    -fx-background-radius: 15px;
}

#pToCont:hover
{
    -fx-font-size: 24px;
}

#title_addDonationInfo
{
    -fx-font-size: 50px;
}

#panelButton
{
    -fx-font-size: 35px;
}

#panelButton:hover
{
    -fx-font-size: 36px;
}

#UserPanelButton
{
    -fx-font-size: 22px;
}

#UserPanelButton:hover
{
    -fx-font-size: 24px;
}

.panel_sub_title
{
    -fx-font-size: 17px;
}

.panel_label
{
    -fx-text-fill: #c70000;
}

.panel_button
{
    -fx-font-size: 28px;
}

.panel_button:hover
{
    -fx-font-size: 29px;
}

#SearchButton
{
    -fx-font-size: 23px;
}

#SearchButton:hover
{
    -fx-font-size: 24px;
}

.info_tag
{
    -fx-font-size: 18px;
    -fx-text-alignment: center;
}

.info_tag_answer
{
    -fx-font-size: 22px;
    -fx-text-alignment: center;
}

#searchOrg
{
    -fx-font-size: 20px;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
}

#searchOrg:hover
{
    -fx-font-size: 22px;
}

#change_password_title_label
{
    -fx-font-size: 50px;
}

.text-field
{
    -fx-effect: innershadow(gaussian,rgb(157, 49, 49),5,0,0,0);
    -fx-font-family: corbel bold;
    -fx-cursor: text;
}

.text-area
{
    -fx-effect: innershadow(gaussian,rgb(157, 49, 49),5,0,0,0);
    -fx-font-family: corbel bold;
    -fx-cursor: text;
}

.password-field
{
    -fx-effect: innershadow(three-pass-box,rgb(157, 49, 49),5,0,0,0);
}

.combo-box
{
    -fx-effect: dropshadow(three-pass-box,rgb(157,49,49),10,0,0,0);
    -fx-font-family: 'Open Sans', sans-serif;
    -fx-font-weight: bold;
    -fx-background-color: lightcoral;
    -fx-text-fill: floralwhite;
}

#LogINButton:hover
{
    -fx-font-size: 150%;
    /*-fx-effect: innershadow(gaussian,rgb(157, 49, 49),5,0,0,0);
}

#title_label_update_org
{
    -fx-font-size: 40px;*/
}

#back_button
{
    -fx-font-size: 15px;
    -font-weight : bold;
}

#back_button:hover
{
    -fx-font-size: 16px;
    -font-weight : bold;
}

#donpanel
{
    -fx-font-size: 22px;
}

.date-picker
{
    -fx-cursor: hand;
}

.table-view .column-header-background
{
    -fx-background-color: lightcoral;
}

#filter
{
    -fx-font-size: 20px;
}